<table class="table table-dark table-hover text-center">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Index</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of student; let i=index">
            <td>{{ std.Id }}</td>
            <td>{{ std.Name }}</td>
            <td>{{ std.Age }}</td>
            <td>{{ i+1 }}</td>
            <td>
                <button class="btn btn-primary mr-2" [disabled]="std.Disabled">Edit</button>
                <button class="btn btn-danger" [disabled]="std.Disabled">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<img class="img-fluid" [src]="imgPath" alt="">